body {
    background-color: #dddddd ;
    text-align: center;
    }

header {
    background-color: #F2C2C2;
   
}


main {
    background-color: #F5F5DC;
}
footer {
    background-color: #A9CCE3;
}